@import "../styles/functions.scss";
@import "../styles/mixins.scss";

.container-cards {    
    @include flexbox(row, center, center, nowrap);

    .cards {        
        @include flexbox(row, center, center, wrap);
        width: 75%;

        @include notebook() {
            width: 85%;
        }

        @include tablet() {
            width: 90%;
        }
    }
}
