@import "../styles/functions.scss";
@import "../styles/variables.scss";

footer {    
    @include flexbox(row, center, center, wrap);
    background-color: $tertiary-color;  
    padding: 10px;     

    .social-media-list {       
        padding: 0;
        @include flexbox(row, space-around, center, nowrap);
        font-size: 25px;        
    }

    a {
        color: $primary-text;
        margin: 20px;
    }

    a:hover {
        color: rgb(63, 63, 63)
    }
}