@import "../styles/functions.scss";
@import "../styles/variables.scss";

.container-pagination {
    @include flexbox(row, center, center, nowrap);
    margin: 20px 0px;    

    button {
        margin: 20px 10px;
        width: 60px;
        padding: 10px;
        font-size: 1rem;
        background-color: $primary-color;
        font-weight: 400;
        box-shadow: $primary-shadow;
        border: 1px solid $tertiary-color;
        border-radius: 10px;  
        font-family: $primary-font;     
    }

    button:hover {        
        background-color: $secondary-color;
    }

    .first-last-button {
        margin: 20px 5px;
    }
}

